/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


// Globals
@import 'core/globals/globals';
@import 'core/globals/functions';
@import 'core/globals/mixins';

// Custom globals
@import 'custom/globals';

// Natives
@import 'core/layout/base';
@import 'core/layout/blockquotes';
@import 'core/layout/buttons';
@import 'core/layout/forms';
@import 'core/layout/headings';
@import 'core/layout/lists';
@import 'core/layout/print';
@import 'core/layout/tables';
@import 'core/layout/type';

// Utils
@import 'core/utils/atgrid';
@import 'core/utils/colors';
@import 'core/utils/conditional-styling';
@import 'core/utils/helpers';

// Add-Ons
@import 'addons/concise-ui/concise-ui';

// Custom styles
@import 'custom/custom';
